<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Charts</div>
                <a class="nav-link" href="{% url 'mainpage'%}">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Shot Chart
                </a>
                <a class="nav-link" href="">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    5-Player Units
                </a>
                

                <div class="sb-sidenav-menu-heading">About</div>
                <a class="nav-link" href="">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    Input Data and GapRate
                </a>
                <a class="nav-link" href="">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    Reliability
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Guest
        </div>
    </nav>
</div>