{% extends 'base.html' %}

{% block content %}

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Mikołaj Myszka</h1>
    <p class="col-md-12 fs-4">Welcome to my portfolio page, where I present my previous and current projects.</p>
    <button class="btn btn-primary btn-lg" type="button">Github</button>
    <button class="btn btn-primary btn-lg" type="button">LinkedIn</button>
  </div>
</div>

<h1>Web Applications</h1>

<div style='margin-bottom: 25px;'>
<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h2>This Portfolio</h2>
      <p>This portfolio presents projects and repositories I worked on or I have been working on right now.</p>
      <p>Tech stack: []</p>
      <button class="btn btn-outline-light" type="button"><a href="">Go to website</a></button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h2>Argos Mentor</h2>
      <p>Interactive basketball dashboard presenting shot charts, scatter plots, 5-player units, radar plots.</p>
      <p>Tech stack: []</p>
      <button class="btn btn-outline-light" type="button"><a href="http://164.90.214.252:8080/">Go to website</a></button>
    </div>
  </div>
</div>
</div>

<div style='margin-bottom: 25px;'>
<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h2>NBA Dashboard</h2>
      <p>Website aggregating daily games scores and players statistics. It automatically fetches data on a daily basis from an external API.</p>
      <p>Tech stack: []</p>
      <button class="btn btn-outline-light" type="button"><a href="http://basketdata.herokuapp.com/">Go to website</a></button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h2>Argos Mentor</h2>
      <p>Interactive basketball dashboard presenting shot charts, scatter plots, 5-player units, radar plots.</p>
      <p>Tech stack: []</p>
      <button class="btn btn-outline-light" type="button"><a href="">Go to website</a></button>
    </div>
  </div>
</div>
</div>


<h1>Repositories</h1>

<div style='margin-bottom: 25px;'>
<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="h-100 p-5 bg-light border rounded-3">
      <h2>ETL_apache_airflow</h2>
      <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
      <p>Tech stack: []</p>
      <button class="btn btn-outline-secondary" type="button"><a href="">Go to repo</a></button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 bg-light border rounded-3">
      <h2>profiles-rest-api</h2>
      <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
      <p>Tech stack: []</p>
      <button class="btn btn-outline-secondary" type="button"><a href="">Go to repo</a></button>
    </div>
  </div>
</div>
</div>

<div style='margin-bottom: 25px;'>
<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="h-100 p-5 bg-light border rounded-3">
      <h2>ETL_apache_airflow</h2>
      <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
      <p>Tech stack: []</p>
      <button class="btn btn-outline-secondary" type="button"><a href="">Go to repo</a></button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 bg-light border rounded-3">
      <h2>profiles-rest-api</h2>
      <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
      <p>Tech stack: []</p>
      <button class="btn btn-outline-secondary" type="button"><a href="">Go to repo</a></button>
    </div>
  </div>
</div>
</div>

<div style='margin-bottom: 25px;'>
  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>ETL_apache_airflow</h2>
        <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
        <p>Tech stack: []</p>
        <button class="btn btn-outline-secondary" type="button"><a href="">Go to repo</a></button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>profiles-rest-api</h2>
        <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
        <p>Tech stack: []</p>
        <button class="btn btn-outline-secondary" type="button"><a href="">Go to repo</a></button>
      </div>
    </div>
  </div>
</div>


{% endblock %}